.fc-navbar{
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    color: #fff;
    padding-left: 12%;
    padding-right: 14%;
    height: 43px;
}

body{
    background-color: #e9ebee;
    color: #1d2129;
}

.fc-list-group-item{
    background-color: #e9ebee;
    border: none;
    font-size: 14px;
    padding: 6px;
}

.fc-label{
    color: #616770;
    display: block;
    white-space: nowrap;
    width: 0;
    font-weight: bold;
    font-size: 13px;
}

.fc-search-top{
    height: 23px;
    border-radius: 2px;
}

.fc-search-btn{
    height: 23px;
}

.fc-nav-link{
    font-size: 14px;
    color: white !important;
}

.fc-input-group-navbar{
    margin-top: 10px;
    width: 46%;
}

.fc-icon {
    height:22px;
    width:22px;
    background-image:url('icons.png');
}

.fc-icon-messenger {
    background-position: 37px -367px;
}

.fc-icon-feeds {
    background-position: 142px -496px;
}

.fc-icon-watch {
    background-position: 142px -559px;
}

.fc-icon-marketplace {
    background-position: 316px -474px;
}

.fc-icon-lembrancas {
    background-position: 218px -496px;
}

.fc-icon-salvos {
    background-position: 316px -391px;
}

.fc-icon-grupos {
    background-position: 80px -367px;
}

.fc-icon-paginas {
    background-position: 400px -391px;
}

.fc-icon-eventos {
    background-position: 337px -412px;
}

.fc-icon-navbar {
    height:22px;
    width:26px;
    background-image:url('icons.png');
    opacity: 0.6;
}

.fc-icon-logo-facebook {
    background-position: 257px -220px;
    opacity: 1;
}

.fc-icon-notificao-amizade {
    background-position: 141px -193px;;
}

.fc-icon-notificao-amizade:active {
    background-position: 116px -193px;
    opacity: 1.0;
}

.fc-icon span{
    margin-left: 28px;
    font-size: 13px;
}

.fc-dropdown{
    right: 0;
    left: auto;
    padding-left: 1px;
    padding-right: 1px;
    min-width: 450px;
}

.fc-dropdown .title{
    font-size: 12px;
    margin-left: 5px;
    font-weight: bold;
}

.fc-dropdown a{
    font-size: 12px;
    text-align: right;
}